
   body {
    background-color:#ffffff;
    border: 0;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 900px;
   }
   
    
.agent4 {
    color: #1c1e21;
    width: 200px;
    height: 50px;
    width: 200px;
    padding: 10px;
    padding-left: 55px;
    margin-left: 30px;
}
.store {
        display: flex;
        flex-direction: column;
        height: 600px;
        margin:10px;
        align-items: center;
        justify-content: center;
}

#ease {
    color: #144499;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;

}

.section1 {
    height: 100px;
    width: 100%;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    box-shadow: 0 2px 4px 0 rgba(204, 202, 202, 0.2),0 3px 10px 0 rgba(236, 234, 234, 0.19)   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    float: right;
    
}
li a.last {
    border: 2px;
    border-style: ridge;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.menu {

    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img {
    height: 60px;
    width: 170px;
    align-self: center;
}



form{
     border: 1px #144499;
     border-style: dashed;
     height: 250px;
     width: 400px;
     padding: 10px;
     border-radius: 6px;
     display: flex;
     flex-direction: column;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}
input[type=text], select{
    width:100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
border-radius: 5px;
height: 50px;
box-sizing:border-box;
}
input[type=password], select{
    width:100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
border-radius: 5px;
box-sizing:border-box;
height: 50px;
}
button {
    width:100%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
   border-radius: 5px;
    box-sizing: border-box;
   height: 50px; 
   background-color: #144499;
   color: #ffffff;
}
hr{
    border-top: 1px dashed#144499;
}
a {
    text-decoration: none;
    color: #144499;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover {
    color: green;
}


